/*
----------------------------------------
Basic Setup
----------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*---------------HEADINGS----------------*/

h1 {
    font-size: 240%;
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 220%;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 2px 2px #555;
}

h3 {
    font-size: 150%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

/*
----------------------------------------
MAIN
----------------------------------------
*/

.control {
    height: 100vh;
    width: 50%;
    text-align: center;
    color: #00897B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.display {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.shoping-list {
    background-color: #00564D;
    color: #fff;
    height: 80%;
    text-align: center;
}

.summary {
    color: #fff;
    background-color: #363636;
    text-align: center;
    padding-top: 45px;
    font-size: 240%;
    border-bottom: 3px solid #00897B;
    font-weight: 400;
    margin: 0;
    height: 20%;
}


input[type=text], select {
    width: 70%;
    height: 5%;
    border: 3px solid #00897B;
    border-radius: 11px;
    font-size: 200%;
    color: #00897B;
    text-align: center;
}

select {
    text-align-last: center;
}

input[type=submit] {
    width: 230px;
    height: 50px;
    background-color: #00897B;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    line-height: 1.1;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover {
    background-color: #00564D;
}

input[type=submit]:active {
    transform: translateY(2px);
}

input:focus, select:focus {
    outline: none;
}

.shopping-label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: inherit;
    height: 70%;
    border-bottom: 3px solid #fff;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.person {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}

.item:hover .item-delete-btn {
    display: inline;
}


.total-value {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.item-delete-btn {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.1;
    color: #fff;
    display: none;
    padding: 5px;
}

.item-delete-btn:focus {
    outline: none;
}

.item-delete-btn:active {
    transform: translateY(2px);
}

